/* CSS declarations go here */
body {
	margin: 2em;

}

li {
	list-style: none;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 7px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
}

li.me {
	background-color: rgba(69,194,236,.3);
}

li.them {
	margin-left: 2em;
}

ul {
	padding-left: 0px;
}

li span {
	float: right;
	margin-right: 10px;
	font-size: .8em;
	line-height: 1.6em;
	color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 300px) {
	li span {
		display: none;
	}
}